# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
backend/target
frontend/node_modules
*.iml
frontend/.env
frontend/.env.production
backend/src/main/webapp/resources/database-dev.properties
backend/src/main/webapp/resources/database-prod.properties
backend/src/main/webapp/resources/database-stand.properties
adapter/target
backend/src/main/webapp/resources/database.properties
backend/.DS_Store
client/src/main/ resources/application.properties
client/target/classes/application.properties
client/target
database/target
domain/src/main/java/tech/maslov/rgenerator/domain/generator/entity/.DS_Store
*.DS_Store
domain/target
frontend/.idea
frontend/build
infrastructure/target
suite/.idea
suite/generatorContent
